<%- include partials/regularEmptyHead.ejs %>



<div class="" id="fullHeightFirstContainerDiv">
  <!-- <div class="fullHeightIconContainer">
    <p class="randomPosIcon">&#128295</p>
    <p class="randomPosIcon">🩺</p>
    <p class="randomPosIcon">✂️</p>
    <p class="randomPosIcon">💄</p>
    <p class="randomPosIcon">🧠</p>
    <p class="randomPosIcon">💉</p>
    <p class="randomPosIcon">⚖️</p>
    <p class="randomPosIcon">💸</p>

  </div> -->
  <div class="" id="topNavBarFirstContainer">
    <img src="" class="leftFloatLogoNavBar" alt="Logo Travay">
  </div>

  <p id="bigPFirstContainerMainHeader">Book appointments even while you sleep.</p>
  <p class="firstContainerSubHeader" >Get three months free when you register</p>
  <button onclick="location.href='storeSignup'" class="ctaButtonCentered">Register Now</button>
  <p class="orLoginPFirstContainer">or <a href="/storeLogin">Login</a></p>
  <a id="linkToClientPageFirstContainer" href="/index">Travay for clients</a>

</div>`

<div id="secondContainer" class="">
  <div class="secondContainerParentDiv" id="valuesAddedMainContainer">
    <p class="secondContainerTitleP">Here's why you really need Travay</p>

    <div class="valuesAddedParentContainer">
      <div class="valuesAddedChildContainer">
        <p class="valueAddedTextP">No more getting bothered by your phone that keeps ringing</p>
      </div>
      <p class="valueAddedEmojiIcon">&#128224</p>
    </div>

    <div class="valuesAddedParentContainer">
      <div class="valuesAddedChildContainer">
        <p class="valueAddedTextP">No more headaches using hardcore university maths to find a date and time slot that fits</p>
      </div>
      <p class="valueAddedEmojiIcon">&#129327</p>
    </div>

    <div class="valuesAddedParentContainer">
      <div class="valuesAddedChildContainer">
        <p class="valueAddedTextP">Accept appointments even when your store is closed</p>
      </div>
      <p class="valueAddedEmojiIcon">🌙</p>
    </div>

    <div class="valuesAddedParentContainer">
      <div class="valuesAddedChildContainer">
        <p class="valueAddedTextP">Spend less time and money planning, and more time actually working</p>
      </div>
      <p class="valueAddedEmojiIcon">&#128295</p>
    </div>
  </div>


  <div class="secondContainerParentDiv" id="featuresMainContainer">
    <p class="secondContainerTitleP">The revolution that will make your business strive</p>
    <div class="sliderFeaturesWrapper">
      <div class="sliderShowFeaturesMainContainer">

        <div id="featureSlide1" class="featureMainDiv">
          <p class="sliderFeaturesTitle">	&#127758; Be everywhere at the same time</p>
          <p class="sliderFeaturesSubTitle">Your clients can self-book, reschedule and cancel their appointments through Travay, Facebook, Instagram or even your own website.</p>
          <img id="socialAppImg" src="assets/landingPageAssets/socialAppImg.png" alt="">
        </div>

        <div id="featureSlide2" class="featureMainDiv">
          <p class="sliderFeaturesTitle">&#128194; Manage like a pro</p>
          <p class="sliderFeaturesSubTitle">Easily manage your business availabilities, employees schedule, absences and services offered.</p>
        </div>

        <div id="featureSlide3" class="featureMainDiv">
          <p class="sliderFeaturesTitle">👻 Reduce no-shows</p>
          <p class="sliderFeaturesSubTitle">Send automatic e-mail, text message or notification reminders to your clients for upcoming appointments.</p>
          <img id="textMessageTemplateImg" src="assets/landingPageAssets/textMessageNotifTemplate.png" alt="">
        </div>

        <div id="featureSlide4" class="featureMainDiv">
          <p class='sliderFeaturesTitle'>&#128200; Analyse like nobody's watching</p>
          <p class="sliderFeaturesSubTitle">Track your store statistics, top performers, and appointment by using the intuitive analytics dashboard.</p>
        </div>

        <div id="featureSlide5" class="featureMainDiv">
          <p class='sliderFeaturesTitle'>👑 The customer is king</p>
          <p class="sliderFeaturesSubTitle">Keep an organised profile of your clients to view their preferences, personal details, notes and appointments history.</p>
        </div>

        <div id="featureSlide6" class="featureMainDiv">
          <p class='sliderFeaturesTitle'>&#127912; Customise from head to toes</p>
          <p class="sliderFeaturesSubTitle">Your Travay business page is made for you. Fully customise it to match your business identity.</p>
        </div>

        <div class="featureMainDiv" id="featureSlide7">
          <p class="sliderFeaturesTitle">&#129504; Smart scheduling like never before</p>
          <p class="sliderFeaturesSubTitle">Customers can only book appointments during your business availabilities, with the employee they prefer and for the service they offer.</p>
        </div>

      </div>




      <div class="sliderDotLinkContainer">
        <a class="sliderDotLink" href="#featureSlide1"></a>
        <a class="sliderDotLink" href="#featureSlide2"></a>
        <a class="sliderDotLink" href="#featureSlide3"></a>
        <a class="sliderDotLink" href="#featureSlide4"></a>
        <a class="sliderDotLink" href="#featureSlide5"></a>
        <a class="sliderDotLink" href="#featureSlide6"></a>
        <a class="sliderDotLink" href="#featureSlide7"></a>
      </div>
    </div>
  </div>

  <div class="secondContainerParentDiv">
    <p class="secondContainerTitleP">We are specially made for</p>
    <ul class="businessEnumUl">
      <li>Mechanics</li>
      <li>Psychologists</li>
      <li>Dentists</li>
      <li>Doctors</li>
      <li>Lawyers</li>
      <li>Optometrists</li>
    </ul>
    <ul class="businessEnumUl">
      <li>Spas</li>
      <li>Salons</li>
      <li>Barbers</li>
      <li>Physiotherapists</li>
      <li>Orthodontists</li>
      <li>Any other business you can think of...</li>
    </ul>
  </div>


  <p id="footerMadeWith">Made with ☕ in Montreal - 2019</p>
</div>


<div id="fixedPositionHeader" class="">
  <a href="/storeLogin" class="rightFloatNavLink">Login</a>
  <p class="rightFloatNavLink">|</p>
  <a href="/storeSignup" class="rightFloatNavLink">Register</a>
</div>


<style>
  #socialAppImg{
    width:calc(100% - 40px);
    margin:10px 20px 0 20px;
    position:relative;
  }
  #textMessageTemplateImg{
    position:relative;
    top:50%;
    width:calc(100% - 40px);
    left:0;
    margin:25% 20px 0px 20px;

  }
  #footerMadeWith{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    text-align:center;
  }
  .businessEnumUl{
    float:left;
    list-style-image: url(assets/icons/octiconsSvg/check.svg);
    width: calc((100% - 60px)/2);
    margin: 0 0 0 20;
    padding-left: 20px;
  }
  #featuresMainContainer{
    background-color:#f9f9f9;
    padding: 80 0 90 0;
    margin: 0 0 0 0;
}
  .sliderFeaturesSubTitle{
  position: relative;
  display: block;
  bottom: 0px;
  width: 100%;
  text-align: left;
  padding: 0 20 0 20;
  margin: 0;
  left: 0;
  color:var(--font-color-black);
  font-size:var(--mobile-font-size-regular);
  font-weight:var(--mobile-font-weight-regular);
  }
  .sliderFeaturesTitle{
  position: relative;
  display: block;
  bottom: 0px;
  width: 100%;
  text-align: left;
  padding: 20;
  margin: 0;
  left: 0;
  color:var(--font-color-black);
  font-size:var(--mobile-font-size-big);
  font-weight:var(--mobile-font-weight-bold);
  }
  .sliderDotLinkContainer{
    width:100%;
    left:0;
    bottom:20;
    position:absolute;
  }
  .sliderDotLink{
    background-color:#f9f9f9;
    border:1px solid #000;
    border-radius:50%;
    width:20px;
    position:relative;
    height:20px;
    float:left;
    margin-left:calc((100% - 30px) / 12);
  }
  .sliderDotLink:active{
    background-color:#000;
  }
  .sliderFeaturesWrapper{
position:relative;
width:calc(100% - 40px);
margin:0 20 0 20;
height:450px;
border:none;
background-color:#fff;
box-shadow:var(--box-shadow-card);
border-radius:var(--official-border-radius);
  }
  .sliderShowFeaturesMainContainer{
    width:calc(100%);
    left:20px;
    margin:0;
    display:flex;
    overflow-x:auto;
    height:100%;
    -webkit-overflow-scrolling:touch;
    scroll-snap-type:x mandatory;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
  }
  .sliderShowFeaturesMainContainer::-webkit-scrollbar { width: 0 !important }

  .sliderShowFeaturesMainContainer > div{
    scroll-snap-align:start;
  }
  .featureMainDiv{
    width:100%;
    flex-shrink:0;
    height:100%;
    background-color:transparent;
    scroll-behavior:smooth;
  }
  .secondContainerParentDiv{
    position: relative;
    top: 0;
    margin: 0;
    width: 100%;
    height: auto;
    min-height:50px;
    padding:50 0 0 0;
  }
  .ctaButtonCentered{
    background-color:var(--icon-color-active);
    padding:15 40 15 40;
    text-decoration:none;
    border-radius:var(--official-border-radius);
    border:none;
    color:#fff;
    font-size:var(--mobile-font-size-big);
    font-weight:var(--mobile-font-weight-bold);
    position:relative;
    left:50%;
    margin:40 0 30 0;
    transform:translateX(-50%);
  }
  .orLoginPFirstContainer{
    font-size:var(--mobile-font-size-regular);
    font-weight:var(--mobile-font-weight-regular);
    position:relative;
    top:0;
    margin:0;
    left:0;
    width:100%;
    padding:0 20 0 20;
    text-align:center;
  }
  .orLoginPFirstContainer a{
  color:var(--icon-color-active);
  }
  #fixedPositionHeader{
    height:60px;
    position:fixed;
    top:-70px;
    left:0;
    width:100%;
    background-color:#fff;
    border:none;
    transition:0.2s all;
    border-bottom:var(--nav-bar-border);
  }
  #fullHeightFirstContainerDiv{
    height:100%;
    position:absolute;
    left:0;
    top:0;
    width:100%;
  }
  #fullHeightFirstContainerDiv::after{
    content: "";
    background: url('assets/backgroundImages/backg6.png');
    background-position:left;
    background-size:cover;
    background-repeat:no-repeat;
 opacity: 0.3;
 top: 0;
 left: 0;
 bottom: 0;
 right: 0;
 position: absolute;
 z-index: -1;
  }

  .fullHeightIconContainer{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    font-size:30px;
    background-color:transparent;
  }
  .randomPosIcon{
    position:absolute;
  }
  #topNavBarFirstContainer{

    left:0;
    position:absolute;
    width:100%;
    height:70px;
    background-color:transparent;

  }
  .leftFloatLogoNavBar{
    position:absolute;
    left:20px;
    height:calc(100% - 40px);
    top:20px;
    text-decoration:none;
  }
  .rightFloatNavLink{
    position:relative;
    float:right;
    top:20px;
    margin:0 20 0 0;
    color:#000;
    text-decoration:none;
  }
  #bigPFirstContainerMainHeader{
    font-size:var(--mobile-font-size-extra-big);
    font-weight:var(--mobile-font-weight-bold);
    position:relative;
    top:0;
    margin:95 0 0 0;
    left:0;
    padding:0 20 0 20;
    text-align:left;
  }
  .firstContainerSubHeader{
    font-size:var(--mobile-font-size-regular);
    font-weight:var(--mobile-font-weight-regular);
    position:relative;
    top:0;
    margin:20 0 0 0;
    left:0;
    padding:0 20 0 20;
    text-align:left;
  }
  #searchBarFirstContainer{
    position:relative;
    width:calc(100% - 40px);
    margin:70 0 0 0;
    left:20px;
    height:60px;
    border-radius:var(--official-border-radius);
    border:none;
    box-shadow:var(--box-shadow-card);
    padding:0 20 0 20;
    font-size:var(--mobile-font-size-regular);
  }
  #linkToClientPageFirstContainer{
    margin:80 0 0 0;
    text-align:center;
    position:relative;
    color:var(--icon-color-active);
    font-size:var(--mobile-font-size-small);
    display:block;
    text-decoration:none;

  }
  #secondContainer{
position:absolute;
top:100%;
left:0;
height:2000px;
width:100%;
background-color:#fefefe;
  }
  #valuesAddedMainContainer{
    background-color:#fff;
    padding-bottom:60px;
  }
  .valuesAddedParentContainer{
    position:relative;
    width:calc(100% - 40px);
    left:20px;
    margin:0 0 0 0;
    padding:20px;
    border:none;
    background-color:transparent;
    min-height:70px;
  }
  .valuesAddedChildContainer{
    position:relative;
    width:100%;
    border:none;
    box-shadow:var(--box-shadow-card);
    min-height:60px;
    margin:0;
    border-radius:var(--official-border-radius);
    background-color:#f9f9f9;
  }
  .secondContainerTitleP{
    font-size:var(--mobile-font-size-page-title);
    color:var(--font-color-black);
    font-weight:var(--mobile-font-weight-bold);
    position:relative;
    margin:0 0 30 0;
    width:100%;
    padding:0 20 0 20;
    left:0;
    text-align:left;
  }
  .valueAddedTextP{
    font-size:var(--mobile-font-size-regular);
    font-weight:var(--mobile-font-weight-regular);
    color:var(--font-color-black);
    width:100%;
    position:relative;
    top:0;
    margin:0;
    left:0;
    padding:20 20 20 20;
  }
  .featureIconImg{
    width:30px;
    top:0;
    left:0;
    position:absolute;
  }
  .valueAddedEmojiIcon{
    font-size:var(--mobile-font-size-page-title);
    top:0;
    margin:0;
    padding:0;
    left:0;
    position:absolute;
  }

</style>



<script>
  window.onscroll = function(){
    var scroll = window.scrollY;
    var navBar = document.getElementById('fixedPositionHeader');
    if(scroll>= window.innerHeight - 50 ){
        navBar.style.top = 0;
    }else{
        navBar.style.top = -70;
    }
  }




var iconsRandomPosition = document.getElementsByClassName('randomPosIcon');
for(var i=0; i<iconsRandomPosition.length;i++){
iconsRandomPosition[i].style.left = (Math.floor(Math.random()*80)+10)+"%";
iconsRandomPosition[i].style.top = (Math.floor(Math.random()*80)+10)+"%";
}



$('.sliderDotLink').on('click', function(event) {

 var target = this.getAttribute("href");
 var smallLeft = $(target).offset().left;

 var bigLeft = document.getElementsByClassName("sliderFeaturesWrapper")[0].offsetLeft;
var elementRelativeLeft = smallLeft - bigLeft;
 document.getElementsByClassName("sliderShowFeaturesMainContainer")[0].scrollLeft = elementRelativeLeft;
 event.preventDefault();

});

</script>
