<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/jsFiles/jQuery3_4_1.js"></script>
  <script src="/jsFiles/miscFunctions.js" async></script>
  <link rel="stylesheet" rel="preload" as="style" href="/css/styleGuidelines.css">
</head>


<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    console.log('DOM fully loaded and parsed');
  });
</script>

<script>
  <% if (locals.languageCookie) {%>
    var languageCookie = '<%= languageCookie %>'
      <% } else { %>
    var languageCookie = "";
  <% } %>


    function translateWord(wordToTranslate) {
      if (languageCookie) {
        if (languageCookie == "fr") {
          var frTranslateDict =
          {
            "Today": "Aujourd'hui",
            "No more phone calls, let your customers book their own appointments online.": "Ne perdez plus de temps au téléphone, laissez vos clients prendre rendez-vous en ligne.",
            "New Appointment": "Nouveau Rendez-Vous",
            "We let potential customers know you have a schedule opening when their favorite business doesn't.": "Nous informons vos clients potentiels que vous êtes disponible quand leur commerce favori ne l'est pas.",
            "Let customers fill your agenda online while you focus on running your business.": "Laissez les gens prendre leurs rendez-vous en ligne pendant que vous vous concentrez à servir vos clients.",
            "Search client (name, email, phone)": "Recherche de client (nom, courriel, téléphone)",
            "or": "ou",
            "Create new client": "Créer nouveau client",
            "Search client (name, e-mail, phone)": "Recherche de client (name, e-mail, phone)",
            "New client": "Nouveau client",
            "Client profile": "Profile du client",
            "Next": "Suivant",
            "Back": "Précédent",
            "Cancel": "Annuler",
            "Choose the requested services": "Sélection des services",
            "Choose who will attend the client": "Sélection de l'employé",
            "No preference": "Aucune préférance",
            "Choose the appointment date & time": "Sélection de la date & heure",
            "Store is closed": "Fermé",
            "Change view": "Changer la vue",
            "Week view": "Semaine",
            "Day view": "Jour",
            "List view": "Liste",
            "Filter by employees": "Filtrer par employés",
            "Notifications": "Notifications",
            "No notifications for now.": "Aucune notification pour l'instant",
            "Agenda": "Horaire",
            "to": "à",
            "Sun": "Dim",
            "Mon": "Lun",
            "Tues": "Mar",
            "Wed": "Mer",
            "Thur": "Jeu",
            "Fri": "Ven",
            "Sat": "Sam",
            "Sunday": "Dimanche",
            "Monday": "Lundi",
            "Tuesday": "Mardi",
            "Wednesday": "Mercredi",
            "Thursday": "Jeudi",
            "Friday": "Vendredi",
            "Saturday": "Samedi",
            "Jan": "Jan",
            "Feb": "Fév",
            "Mar": "Mars",
            "Apr": "Avr",
            "May": "Mai",
            "Jun": "Juin",
            "Jul": "Jui",
            "Aug": "Aout",
            "Sep": "Sept",
            "Oct": "Oct",
            "Nov": "Nov",
            "Dec": "Déc",
            "January": "Janvier",
            "February": "Février",
            "March": "Mars",
            "April": "Avril",
            "June": "Juin",
            "July": "Juillet",
            "August": "Aout",
            "September": "Septembre",
            "October": "Octobre",
            "November": "Novembre",
            "December": "Décembre",
            "Mmh looks like you are lost.": "Mmh vous semblez perdu.",
            "Let's go back home": "Retournons à la page d'accueil",
            "No available times for that day": "Aucune disponibilité pour cette journée",
            "No available times for this employee today": "Aucune disponibilité pour cet employé aujourd'hui",
            "Add a note": "Add a note",
            "All day": "Jour complet",
            "Made with ❤ in Montreal": "Fait avec ❤ à Montréal",
            "LAUNCHING JULY 2020": "LANCEMENT EN JUILLET 2020",
            "HOME": "ACCUEIL",
            "FAQ": "FAQ",
            "Your email": "Votre courriel",
            "Loading": "Chargement",
            "Submit your email to get a 3 month free trial.": "Inscrivez-vous et profitez d'un essai de 3 mois gratuit.",
            "Sign up now to be notified when we launch and receive 3 MONTHS FREE.": "Inscrivez-vous afin d'être avisé lors de notre lancement et de profiter de 3 MOIS GRATUITS.",
            "Get notified when we launch": "M'aviser lors du lancement",
            "Get notified on launch day": "M'aviser lors du lancement",
            "Why you need Dailyworks": "Pourquoi vous avez besoin de Dailyworks",
            "Your phone keeps ringing to book appointments": "Le téléphone sonne sans-arrêt pour fixer des rendez-vous",
            "Finding an available time slot requires hardcore university maths": "Trouver une disponibilité mutuelle avec vos clients est un vrai casse-tête",
            "You can't book appointments when your business is closed": "Aucun rendez-vous ne peut être fixé après les heures d'ouvertures",
            "If my business is located in Turkmenistan, can I still register on Dailyworks?": "Si mon commerce est situé au Turkmenistan, puis-je tout de même m'inscire sur Dailyworks?",
            "Sadly for the moment, we can only host Canadian-based businesses. We will however be expanding very soon!": "Malheureusement pour le moment, nous pouvons uniquement accueilir des commerces basés au Canada, mains nous prendrons de l'expension tres bientôt!",
            "What type of businesses can your platform host?": "Quels types de commerces cette plateforme peut-elle servir?",
            "If you are a barbershop, mechanic, doctor, veterinary, psychologist, physiotherapist, optometrist, or any other service-driven company, we are more than pleased to host your business on our platform.": "Si vous etes un barbier, mécanicien, docteur, vétérinaire, psychologue, physiothérapeute, optométriste,ou tout autre type de commerce orienté-service, nous sommes plus qu'heureux de vous accueillir sur notre plateforme.",
            "I’m not a tech expert, will I still be able to get around on your platform?": "Je ne suis pas un expert techno, vais-je être capable de me débrouiller sur votre plateforme?",
            "Our platform is so simple that we are convinced you won’t have any trouble. If you however need assistance, our premium members can request a free in-person setup assistant who will help get around our platform and setup your account. Our assistants can help you register, import your appointments or complete any other task. Our free tier member can request the same in-person setup assistant for 60$.": "Notre plateforme est si simple que nous sommes convaincus que vous n'aurez aucune difficulté. Si vous avez toutefois besoin d'assistance, nos membres premium peuvent demander une assistane en personne gratuite qui vous aider à vous retrouver sur la plateforme. Nos assistants vous aideront à vous enregistrer, importer vos rendez-vous ou toute autre tache. Nos membres gratuits peuvent demander la même assistance pour 60$.",
            "How much does your platform cost?": "Combien coute votre plateforme?",
            "We offer a free tier that includes our top-of-the-line appointment manager. However, the premium 50$/month membership allows your customers to book appointments online instead of bothering you on the phone, and allows you to take advantage of our 24/7 customer service and free in-person setup assistant.": "Nous offrons un abonnement gratuit qui vous donne acces à notre fameux organisateur de rendez-vous. Cependant, l'abonnement premium de 50$/mois permet à vos clients de fixer des rendez-vous en ligne sans vous déranger au téléphone, et vous permet de profiter de notre service à la clientele 24/7 et du service d'assistance en personne gratuit.",
            "What can I do on Dailyworks?": "Que puis-je faire avec Dailyworks?",
            "On our platform, you can create, cancel and move appointments whenever you want. Your clients will receive a notification whenever an appointment is created or modified.": "Sur notre plateforme, vous pouvez fixer, modifier et annuler des rendez-vous quand vous le voulez. Vos clients recoivent une notification quand leurs rendez-vous sont modifiés.",
            "What is Dailyworks?": "Mais qu'est-ce que Dailyworks?",
            "Dailyworks is an online appointment manager for service-driven businesses.": "Dailyworks est un gestionnaire de rendez-vous en ligne pour les commerces orientés-service.",
            "Welcome to our FAQ": "Bienvenue sur notre FAQ",
            "Why should I register on Dailyworks?": "Pourquoi devrais-je m'inscrire à Dailyworks?",
            "Our teams are constantly releasing new features to help your business thrive. Also, you can count on our top notch customer service to help you solve any problems. You definitely won’t regret it.": "Nos équipes publient constamment des nouvelles fonctionnalités pour aider à la réussite de votre commerce. De plus, vous pouvez compter sur notre super équipe de soutien pour régler tous vos problèmes. Vous ne le regretterez pas!",
            "Looks like there's an error, please try again.": "Il semble y avoir une erreur, veuillez réessayer.",
            "Looks like your email is already in our waitlist. Since you seem very interested we might launch earlier for you.": "Votre courriel semble déjà être sur notre liste d'attente. Puisque vous semblez si intéressé, nous pourrions lancer la plateforme plus tôt pour vous.",
            "Thank you for joining the waitlist! You won\'t regret it.": "Merci d'avoir rejoint la liste d'attente! Vous ne le regretterez pas.",
            "Do more work in less time by letting your customers book appointments by themselves online.": "Accomplissez plus en moins de temps en laissant vos clients réserver par eux-même en ligne.",
            "Show to customers that you have an available spot right now, when their favorite business doesn't.": "Montrez aux clients que vous avez une place libre maintenant, lorsque que leur commerce favoris n'en a pas.",
            "What can Dailyworks do for you?": "Qu'est-ce que Dailyworks peut faire pour vous?",
            "You cannot book appointments while you sleep. We can help with that.": "Vous ne pouvez pas prendre des rendez-vous quand vous dormez. Nous pouvons vous aider.",
            "General settings": "Paramètres généraux",
            "Services": "Services",
            "Store schedule": "Horaire du commerce",
            "Store absences": "Fermetures du commerce",
            "Business settings": "Paramètres de commerce",
            "Settings": "Paramètres",
            "Save": "Sauvegarder",
            "Start date": "Date de début",
            "End date": "Date de fin",
            "Description": "Description",
            "Add absence": "Ajouter l'absence",
            "Closed": "Fermé",
            "closed": "fermé",
            "Password": "Mot de passe",
            "Email address": "Adresse courriel",
            "Social pages": "Pages sociales",
            "Business name": "Nom du commerce",
            "Store location": "Adresse du commerce",
            "Phone number": "Numéro de téléphone",
            "Owner/manager's name": "Nom du propriétaire/gérant"

          };

          var translatedWord = frTranslateDict[wordToTranslate];
          if (!translatedWord) {
            return wordToTranslate;
          } else {
            return translatedWord;
          }


        } else if (languageCookie == "en") {
          return wordToTranslate;
        } else {
          return wordToTranslate;
        }

      } else {
        return wordToTranslate;
      }
    }

</script>





<script>
  var weekDayName = [translateWord('Sun'), translateWord('Mon'), translateWord('Tues'), translateWord('Wed'), translateWord('Thur'), translateWord('Fri'), translateWord('Sat')];
  var monthsName = [translateWord('Jan'), translateWord('Feb'), translateWord('Mar'), translateWord('Apr'), translateWord('May'), translateWord('Jun'), translateWord('Jul'), translateWord('Aug'), translateWord('Sep'), translateWord('Oct'), translateWord('Nov'), translateWord('Dec')];
  var fullMonthsName = [translateWord('January'), translateWord('February'), translateWord('March'), translateWord('April'), translateWord('May'), translateWord('June'), translateWord('July'), translateWord('August'), translateWord('September'), translateWord('October'), translateWord('November'), translateWord('December')];

  var dateNumberArray = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26", "27", "28", "29", "30", "31"];




  function displayLoader() {
    var loaderHtml = "<div class='spinnerSquareContainer'><div class='spinner'><div class='bounce1'></div><div class='bounce2'></div><div class='bounce3'></div></div></div>";
    var fullScreenDiv = document.createElement('div');
    fullScreenDiv.classList = "fullScreeenTransparentLoaderDiv";
    fullScreenDiv.innerHTML = loaderHtml;
    document.body.appendChild(fullScreenDiv);
  }
  function deleteLoader() {
    var loaders = document.getElementsByClassName('fullScreeenTransparentLoaderDiv');
    for (var i = 0; i < loaders.length; i++) {
      loaders[i].remove();
    }
  }

  


</script>